@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    color: white;
    font-weight: 400;
}


html,
body {
    width: 100% !important;
    height: 100% !important;
    background-image: url('@/assets/img/portadas/portada.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


#app {
    width: 100% !important;
    height: 100% !important;
}
