* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", sans-serif;
    box-sizing: border-box;
    color: white;
    font-weight: 400;
}


html,
body {
    width: 100% !important;
    height: 100% !important;

}


#app {
    width: 100% !important;
    height: 100% !important;
}
